# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/

# Visual Studio
[Dd]ebug/
[Rr]elease/
*.sln.cache
*.suo
*.csproj.user
